.anima{
    background-image: url('https://img.freepik.com/free-vector/log-landing-page-with-dark-landscape_23-2148274550.jpg?w=996&t=st=1690129289~exp=1690129889~hmac=890bbca3977bd6126354b50d80fd9a3537fc1d757cbf928759f45f286b3983af');
    background-size: cover;
    height: 580px;
}